<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--config-->

    <!--console log format-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <!--format-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %msg%n
            </pattern>
        </layout>
    </appender>

    <!--Info: One log file every day-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <!--filter Error-->
            <onMatch>DENY</onMatch>

            <!--keep it if it is not Error-->
            <onMismatch>ACCEPT</onMismatch>
        </filter>

        <!--format-->
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>

        <!--rolling policy - one log per day-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--fie name pattern-->
            <fileNamePattern>
                /var/log/tomcat/sell/info.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--Error: one log per day-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--Only output the Error log-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                /var/log/tomcat/sell/error.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--apply the configs to the root (the whole project)-->
    <!--level: info-->
    <root level="info">
        <appender-ref ref="consoleLog" />
        <appender-ref ref="fileInfoLog" />
        <appender-ref ref="fileErrorLog" />
    </root>
</configuration>